<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Anjunar Application</display-name>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Control</web-resource-name>
            <url-pattern>/service/control/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>User</role-name>
            <role-name>Guest</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Home</web-resource-name>
            <url-pattern>/service/home/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>User</role-name>
            <role-name>Guest</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Pages</web-resource-name>
            <url-pattern>/service/pages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>User</role-name>
            <role-name>Guest</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>RunAS</web-resource-name>
            <url-pattern>/service/security/runas</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>


    <security-role>
        <role-name>Administrator</role-name>
    </security-role>
    <security-role>
        <role-name>User</role-name>
    </security-role>
    <security-role>
        <role-name>Guest</role-name>
    </security-role>

    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>jaspitest</realm-name>
    </login-config>

</web-app>